-f https://download.pytorch.org/whl/torch_stable.html
Flask== 2.2.2
transformers==4.21.3
sentencepiece==0.1.97
torch==1.11.0+cpu
torchvision
keyBert
unicodedata2
sentence_transformers
pylev
protobuf==3.20.0